# Ignore node_modules directory
node_modules

# Ignore environment variables file
.env

# Ignore log files
*.log

# Ignore output files (if applicable)
dist

# Ignore editor-specific files and directories
.vscode
.idea
*.swp
*.swo
*.swn